[user]
	name = zxlooong
	email = zxlooong@gmail.com
[color]
	ui = auto
[core]
	autocrlf = input
	safecrlf = true
	filemode = false
	editor = vim
	ignorecase = true
	quetepath = false
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
