#   zxlooong@gmail.com	

#### this project


#### tmp files & folders
output/
tmp_tmp/
tmptmp/
tmp/
to_tidy/
.*.swp   #vim
*~
#.gitignore
*.bak
sys$command  #tgit dcommit temp file
desktop.ini  #windows explorer tmp
thumbs.db    #windows explorer tmp
~$*  #MS office
#.*  #unix hide file
#.*/ #unix hide folder
.DS_Store  # macosx finder temp
*.DS_Store # macosx finder temp
._*        # macosx finder temp


#compiled objects
*.class
*.o
*.slo
*.lo
#*.so
#*.dylib
*.iai
*.la
#*.a

#### vc
ipch/
Release/
ReleaseU/
Release Unicode/
ReleaseMinDependency/
ReleaseUMinDependency/
Debug/
DebugU/
Debug Unicode/
DebugMinDependency/
DebugUMinDependency/
*.aps
*.opt
*.ncb
*.plg
*.positions
*.dsw
#*.sln
*.suo
*.pdb
*.idb
*.ilk
*.exp
*.sdf
*.opensdf
*.vcxproj.filters
*.vcxproj.user
*_i.c
*_i.h
*.vcproj.*
